#include "../../Carthage/Checkouts/xcconfigs/Platforms/iOS.xcconfig"
#include "../../Carthage/Checkouts/xcconfigs/Targets/Tests.xcconfig"

_BUNDLE_NAME = VeeatherUITests
_BUNDLE_IDENTIFIER = co.smartapps.veeather.uitests
_BUNDLE_INFOPLIST_PATH = $(SRCROOT)/VeeatherUITests/Test-Info.plist

PRODUCT_MODULE_NAME = VeeatherUITests
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks

_COMPILER_SWIFT_BRIDGING_HEADER_PATH = VeeatherUITests/VeeatherUITest-Bridging-Header.h
