#include "../../Carthage/Checkouts/xcconfigs/Platforms/iOS.xcconfig"
#include "../../Carthage/Checkouts/xcconfigs/Targets/Application.xcconfig"
#include "Base.xcconfig"

_ENVIRONMENTS = $(inherited)
_BUNDLE_NAME = Veeather
_BUNDLE_IDENTIFIER = co.smartapps.veeather
_BUNDLE_INFOPLIST_PATH = $(SRCROOT)/Veeather/Resources/Info.plist

_COMPILER_SWIFT_BRIDGING_HEADER_PATH = Veeather/Resources/Keys/Veeather-Bridging-Header.h
